h1 {color :rgb(250, 4, 4);
}

h1 {text-align: :center;
}

h2 {color :rgb(150, 43, 43);
}


#ima2 {width:10% ;
}

#ima1 {width:30% ;
}

#ima3 {width:30% ;
}

#ima4 {width:30% ;
}

#ima5 {width:30% ;
}
