h1 {color :rgb(250, 4, 4);
}

h1 {text-align: :center;
}

h2 {color :rgb(150, 43, 43);
}

#ima1 {width:20% ;
}

#ima2 {width:20% ;
}

#ima3 {width:20% ;
}

#ima4 {width:20% ;
}

h6 {font-size: 20% ;
}

